body{
    padding: 20px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
    ),
    url("images/background.png") center/cover fixed;
}
#h1{
	font-size: 50px;
	color: red;
	text-align: center;
}
.every{
	font-size: 1.5rem;
}
#bio{
	color: red;
	text-align: center;
}
#project{
	color: red;
	text-align: center;
}
#Undertale{
	color: red;
}
#Deltarune{
	color: red;
}
#music{
	text-align: center;
	color: red;
}
#music1{
	color: red;
}
#music2{
	color: red;
}
#music3{
	color: red;
}
#music4{
	color: red;
}
#music5{
	color: red;
}
#questions{
	color: red;
	text-align: center;
}
.quest{
	display: none;
	text-align: center;
	font-size: 1.5rem;
	color: red;
}
.th{
	display: none;
	left: 400px;
	font-size: 1.5rem;
}
 button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: rgb(32, 150, 225);
  border-radius: 50px;
  font-weight: 700;
  color: red;
  border: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}
button:hover {
  background: rgba(31, 172, 179, 0.85);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  transform: scale(0.98);
}
#dd{
	text-align: center;
}

